body {
    width: 100vw;
    height: 100vh;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

#app {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.error-container {
    background-image: linear-gradient(to bottom right, #6200c4, #ed6f00);
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    cursor: none;
}

.error-code {
    color: #ffffff;
    font-family: "Fredoka One", cursive;
    font-size: 24vmin;
    text-align: center;
    text-shadow: 1.6vmin 1.6vmin rgba(48, 48, 48, 0.5);
    user-select: none;
    padding: 1.5vmin 5vmin;
    display: flex;
}

.error-code span {
    font-weight: bold;
    display: block;
    animation-duration: 600ms;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.error-code span:nth-child(1) {
    animation-name: error-code-1;
}

.error-code span:nth-child(2) {
    animation-name: error-code-2;
}

.error-code span:nth-child(3) {
    animation-name: error-code-3;
}

@keyframes error-code-1 {

    0%,
    100% {
        transform: translateY(0);
    }

    25% {
        transform: translateY(-1vmin);
    }

    50% {
        transform: translateY(0);
    }

    75% {
        transform: translateY(1vmin);
    }
}

@keyframes error-code-2 {

    0%,
    100% {
        transform: translateY(0);
    }

    25% {
        transform: translateY(1vmin);
    }

    50% {
        transform: translateY(0);
    }

    75% {
        transform: translateY(-1vmin);
    }
}

@keyframes error-code-3 {

    0%,
    100% {
        transform: translateY(0);
    }

    25% {
        transform: translateY(-1vmin);
    }

    50% {
        transform: translateY(0);
    }

    75% {
        transform: translateY(1vmin);
    }
}

.error-title {
    color: #ffffff;
    font-family: "Fredoka One", cursive;
    font-size: 2.8rem;
    text-align: center;
    text-shadow: 0.186667rem 0.186667rem rgba(48, 48, 48, 0.5);
    user-select: none;
    padding: 1.5vmin 10vmin;
}

.error-message {
    color: #ffffff;
    font-family: "Fredoka One", cursive;
    font-size: 1.2rem;
    text-align: center;
    text-shadow: 0.08rem 0.08rem rgba(48, 48, 48, 0.5);
    user-select: none;
    padding: 1.5vmin 30vmin;
}

.search-icon {
    background-color: rgba(105, 205, 255, 0.5);
    width: 2.8rem;
    height: 2.8rem;
    border: solid 0.32rem #fffb8c;
    box-sizing: border-box;
    border-radius: 50%;
    position: absolute;
    transform: rotate(-38deg);
    box-shadow: -0.32rem 0.32rem 0.64rem rgba(31, 31, 31, 0.8);
    pointer-events: none;
    transition: top 32ms cubic-bezier(0.22, 0.61, 0.36, 1),
        left 32ms cubic-bezier(0.22, 0.61, 0.36, 1);
    opacity: 0;
}

.search-icon::after {
    content: '';
    background-color: #30b3ff;
    width: 0.45rem;
    height: 1.4rem;
    position: absolute;
    bottom: -1.72rem;
    left: calc(50% - 0.225rem);
    border-radius: 0.225rem;
    box-shadow: -0.32rem 0.32rem 0.64rem rgba(31, 31, 31, 0.8);
}

.search-window {
    font-family: "Open Sans", sans-serif;
    background-color: rgba(255, 255, 255, 0.7);
    width: calc(100vw - 4rem);
    height: calc(100vh - 4rem);
    border-radius: 1.25rem;
    display: flex;
    flex-direction: column;
    box-shadow: 0.5rem 1.2rem 2rem rgba(0, 0, 0, 0.7);
    box-sizing: border-box;
    position: absolute;
    top: 2rem;
    left: 2rem;
    overflow: hidden;
    backdrop-filter: blur(15px);
    opacity: 0;
    pointer-events: none;
}

.search-window-search {
    display: flex;
    flex-shrink: 0;
    flex-grow: 0;
    box-shadow: 0 0 0 #8f8f8f;
    transform: translateZ(1px);
    transition: box-shadow 120ms ease-out;
}

.search-window-search.search-scrolling {
    box-shadow: 0 0.2rem 0.65rem #8f8f8f;
}

.search-window-search input[type="text"] {
    background-color: transparent;
    width: 100%;
    flex-grow: 1;
    font-family: inherit;
    font-size: inherit;
    padding: 0 1rem;
    border: 0;
    outline: 0;
    margin: 0;
    box-sizing: border-box;
}

.search-window-search button[type="button"] {
    background-color: transparent;
    width: 2.8rem;
    height: 2.8rem;
    flex-shrink: 0;
    overflow: hidden;
    position: relative;
    border-radius: 0;
    border: 0;
    outline: 0;
    padding: 0;
    margin: 0;
    cursor: pointer;
}

.search-window-search button[type="button"]>span {
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
}

.search-window-search button[type="button"]>span>span {
    content: "";
    background-color: #000000;
    width: 1.6rem;
    height: 0.3rem;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 0.1rem;
}

.search-window-search button[type="button"]>span>span:nth-child(1) {
    transform: translate(-50%, -50%) rotate(45deg);
}

.search-window-search button[type="button"]>span>span:nth-child(2) {
    transform: translate(-50%, -50%) rotate(-45deg);
}

.search-window-search button[type="button"]:hover>span {
    transform: scale(1.2);
}

.search-window-section {
    height: 100%;
    flex-shrink: 1;
    flex-grow: 1;
    overflow: auto;
}

.search-window-container {
    padding: 0.8rem 0.8rem;
    transition: background-color 150ms ease-out;
    cursor: pointer;  
    user-select: none;
}


.search-window-container:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.search-window-title {
    padding: 0.4rem 0.8rem;
    font-weight: bold; 
}

.search-window-title a {
    color: inherit;
    font-size: 110%;
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
}

.search-window-title a:hover {
    text-decoration: underline;
}

.search-window-content {
    padding: 0.4rem 0.8rem;
}